<!DOCTYPE html>
<html>
  <head>
    <title>CS 355 <%= subtitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CS 355</h1>
    <p>Welcome to <%= subtitle %></p>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS 355 Lab 8</a><br />
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a><br />
    <a href="helloworld.html">Relative Link Example</a><br />
    <a href="/templatelink">Template Link Example</a><br />
    <a href="/accounts/?account_id=1">Account By ID</a><br />
    <a href="/accounts/all">All Accounts</a><br />
    <a href="/schools/all">All Schools</a><br />
    <a href="/cgpav/">Company GPA View</a><br />
    <a href="/job_view/">User Job View</a>
  </body>
</html>
